.expenses {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
}

.expenses table {
  list-style: none;
  padding: 1rem;
}

.expenses tr {
  border-bottom: 1px solid #ccc;
  margin: 0.5rem 0;
  padding: 0.5rem;
}